.sb-btn-lg {
  height: 46px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding: 10px, 0px, 10px, 12px;
  border-radius: 25px;

  i {
    &::before {
      vertical-align: -0.25em;
      font-size: 24px;
    }
  }
}
.sb-btn-md {
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 24px;
  border-radius: 25px;

  i {
    &::before {
      vertical-align: -0.25em;
      font-size: 18px;
    }
  }
}
.sb-btn-sm {
  height: 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding: 4px 13px;
  border-radius: 25px;
  i {
    &::before {
      vertical-align: -0.25em;
      font-size: 18px;
    }
  }
}
.sb-btn-primary {
  background-color: $color-primary-base;
  color: $color-neutral-50;
  &:hover {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
    color: $color-neutral-50;
  }
  &:focus {
    background: $color-primary-hover;
    border: 2px solid $color-neutral-800;
    color: $color-neutral-50;
  }
  &:disabled {
    cursor: not-allowed;
    background: $color-primary-base;
    opacity: 0.4;
    color: $color-neutral-50 !important;
  }
}

.sb-btn-primary-alt {
  background-color: $color-primary-light;
  color: $color-neutral-900;
  border: none;
  &:hover {
    background-color: $color-primary-bright;
    border-color: $color-primary-bright;
    color: $color-neutral-900;
  }
  &:focus {
    background: $color-primary-bright;
    border: 2px solid $color-neutral-900;
    color: $color-neutral-900;
  }
  &:disabled {
    background: $color-primary-light;
    opacity: 0.4;
  }
}
.sb-btn-secondary {
  background: $color-neutral-50;
  border: 1px solid $color-neutral-400;
  color: $color-neutral-900;
  border-radius: 25px;
  &:hover {
    background: $color-primary-lighter;
    border: 1px solid $color-primary-base;
    color: $color-primary-base;
  }
  &:focus {
    background: $color-primary-lighter;
    color: $color-primary-base;
    border: 2px solid $color-primary-base;
    border-radius: 25px;
  }
  &:disabled {
    background: $color-neutral-50;
    opacity: 0.4;
    color: $color-neutral-900;
    border: 1px solid $color-neutral-400;
  }
}

.sb-btn-danger {
  color: $color-neutral-900;
  background: $color-white;
  border: 1px solid $color-error-base;
  &:hover {
    background: $color-error-lighter;
    color: $color-error-base;
    border: 1px solid $color-error-base;
  }
  &:focus {
    background: $color-error-lighter;
    border: 2px solid $color-error-base;
    color: $color-error-base;
  }
  &:disabled {
    background: $color-white;
    opacity: 0.4;
    color: $color-neutral-900;
    border: 1px solid $color-error-base;
  }
}

.btn-menu-action-sharelead {
  background-color: $color-warning-pale;
}
.btn-menu-action-joiner {
  background-color: $color-secondary-pale;
}
.sb-btn-joiner {
  background: $color-white;
  &:hover {
    background: $color-secondary-pale;
  }
  &:focus {
    background: $color-secondary-very-light;
    border: 2px solid $color-secondary-base;
  }
}
.sb-btn-sharelead {
  background: $color-white;
  &:hover {
    background: $color-warning-pale;
  }
  &:focus {
    background: $color-warning-pale;
    border: 2px solid $color-warning-base;
  }
}

.sb-tertiary {
  color: $color-primary-base;
  // padding: 8px 24px;
  &:hover {
    background: $color-primary-lighter;
    border-radius: 25px;
    // padding: 8px 24px;
    text-decoration: none;
  }
  &:active {
    background: $color-white;
    border-bottom: 2px solid $color-primary-base !important;
    // padding: 8px 24px;
    border-radius: 25px;
    text-decoration: none;
    // padding: 8px 24px;
  }
  &:disabled {
    background: $color-primary-lighter;
    // padding: 8px 24px;
    opacity: 0.4;
    padding: 8px 24px;
  }
}

.sb-vipps-btn {
  background-color: $color-vipps-primary;
  color: white;
  &:hover {
    background-color: $color-vipps-hover;
    border: 2px solid $color-vipps-hover;
    color: white;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $color-vipps-disabled;
    border: 2px solid $color-vipps-hover;
    color: white !important;
  }
}

.language-menu-btn {
  background: $color-white;
  border: 1px solid $color-neutral-400;
  &:hover {
    background: $color-secondary-pale;
  }
  &:focus {
    background: $color-secondary-very-light;
    border: 2px solid $color-secondary-base;
  }
}
