/**
  Design for cards
*/
.card-default {
  background: linear-gradient(0deg, $color-white, $color-white), $color-white;
  border: 1px solid $color-neutral-400;
}

.card-hover {
  @extend .card-default;
  &:hover {
    border: 1px solid var(--ferdia-c1-green-jewel1);
    cursor: pointer;
  }
}
