.trip-arrow {
  width: 26px;
  height: 26px;
}

.trip-sign-rounded {
  height: 23.25px;
  width: 23.25px;
}

.banner-picture {
  height: 85px;
  width: 85px;
  object-fit: contain;
}
.badge-gray {
  border-radius: 5px;
  background: $color-neutral-100;
  padding: 2px 4px;
  font-size: 14px;
}
