$color-ferdia-white: #fefffe;

$light-gray-2: #d5d6d5;
$light-gray: #f4f5f4;
$medium-gray: #8b9389;

$light-mid-gray: #bcc1bb;
$secondary-red-carnation: #d5d6d5;
$ship-gray: #0c1026;
$info-yellow: #fdf292;
$info-yellow-2: #fffce9;
$error-card: #feebe7;
$light-red: #f7efed;
$error-input: #d4001a;
$red-carnation: #f64b60;
$custom-yellow: #fdf292;
$info-Turquoise: #9ce8f5;
$info-ongoing: #b0f0d2;

$primary: #138340;
$primary-alt: #a5f2c4;

$secondary: #54a7f5;
$secondary-c11: #e5f8fa;
$secondary-c10: #cfe6fc;
$secondary-c5: #e7f3fe;
$secondary-c2: #f5fafe;

$warning: #f5a623;
$warning-c10: #fdebce;
$warning-c7: #fcecc0;
$warning-c6: #fef8c8;
$warning-c5: #fef5e7;
$warning-c2: #fffbf5;

$danger: #f64b60;

$buttercup-orange: #f5a623;
$buttercup-orange-10: #fdebce;
$buttercup-orange-5: #fef5e7;
$buttercup-orange-2: #fffbf5;

$blue-malibu: #54a7f5;
$blue-malibu-10: #cfe6fc;
$blue-malibu-5: #e7f3fe;
$blue-malibu-2: #f5fafe;

$venetian-red: #d4001a;
$venetian-red-10: #ffccd2;
$venetian-red-5: #ffe5e9;
$venetian-red-2: #fff5f6;

$text-color: #1a1b1a;
$gray-dark: #757675;
$gray-medium: #999999;
$gray-light-medium: #bfbfbf;
$gray-light: #f4f5f4;
